* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_wrapper {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 20;
  background-color: #e9e9e9;
  border-radius: 12px;
  padding: 20px;
  display: flex;
}

.button_wrapper button {
  padding: 10px 20px;
  cursor: pointer;
}

.center_btns {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: rotateX(-20deg) rotateY(-29deg);
  margin-right: 50px;
}

.side {
  position: absolute;
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px dashed #000;
  background-color: rgba(255, 255, 255, 0.7);
}

.side:nth-child(1) {
  top: -200px;
  left: 0;
  transform-origin: bottom;
  transform: translate3d(0, 0, 100px) rotate3d(1, 0, 0, 90deg);
}

.side:nth-child(2) {
  top: 0;
  left: -200px;
  transform-origin: right;
  transform: translate3d(0, 0, 100px) rotate3d(0, 1, 0, -90deg);
}

.side:nth-child(3) {
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 100px);
}

.side:nth-child(4) {
  top: 0;
  left: 200px;
  transform-origin: left;
  transform: translate3d(0, 0, 100px) rotate3d(0, 1, 0, 90deg);
}

.side:nth-child(5) {
  top: 200px;
  left: 0;
  transform-origin: top;
  transform: translate3d(0, 0, 100px) rotate3d(1, 0, 0, -90deg);
}

.side:nth-child(6) {
  top: 0;
  left: 0;
  transform: translate3d(0, 0, -100px);
}
.triangle_container {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: rotateX(-104deg) rotateY(0deg) rotateZ(62deg);
}

.triangle {
  width: 200px;
  height: 200px;
  position: absolute;
}
.triangle:nth-child(1) {
  top: 0;
  left: 200px;
  transform-origin: bottom;
  transform: translate3d(-160px, -150px, 60px) rotate3d(1, 0, 0, 120deg);
}

.triangle:nth-child(2) {
  top: 200px;
  left: 0;
  transform-origin: right;
  transform: translate3d(-160px, -150px, 60px) rotate3d(0, 1, 0, -120deg);
  border: 0;
}

.triangle:nth-child(3) {
  top: 200px;
  left: 200px;
  transform-origin: bottom;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate3d(-160px, -150px, 60px);
  border: 2px dashed #000;
}

.triangle:nth-child(4) {
  top: 200px;
  left: 400px;
  transform-origin: left;
  transform: translate3d(-160px, -150px, 60px) rotate3d(0, 1, 0, 120deg);
}
.triangle:nth-child(5) {
  top: 400px;
  left: 200px;
  transform-origin: top;
  transform: translate3d(-160px, -150px, 60px) rotate3d(1, 0, 0, -120deg);
}

.circle_container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: rotateX(-10deg) rotateY(-20deg);
}
.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px dashed #000;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

.circle:nth-child(1) {
  transform-origin: center center;
  transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 90deg);
}

.circle:nth-child(2) {
  transform-origin: center center;
  transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, 90deg);
}

.pentagon_container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: rotateX(-10deg) rotateY(-20deg);
  margin-right: 40px;
}
.pentagon {
  position: absolute;
  width: 135px;
  height: 135px;
  border: 2px dashed #000;
  background-color: rgba(255, 255, 255, 0.7);
}

.pentagon:nth-child(1) {
  top: -135px;
  left: -35px;
  transform-origin: bottom right;
  transform: translateZ(100px) rotateZ(-43deg) rotateX(90deg);
}
.pentagon:nth-child(2) {
  top: -135px;
  left: 100px;
  transform-origin: bottom left;
  transform: translateZ(100px) rotateZ(42deg) rotateX(90deg);
}

.pentagon:nth-child(3) {
  border: 0;
  transform: translateZ(100px);
  background-color: transparent;
}

.pentagon:nth-child(4) {
  top: 89px;
  left: -135px;
  height: 120px;
  transform-origin: right top;
  transform: translateZ(100px) rotateZ(-21deg) rotateY(-90deg);
}

.pentagon:nth-child(5) {
  top: 200px;
  left: 40px;
  width: 120px;
  transform-origin: top;
  transform: translateZ(100px) rotateX(-90deg);
}

.pentagon:nth-child(6) {
  top: 89px;
  left: 200px;
  height: 120px;
  transform-origin: top left;
  transform: translateZ(100px) rotateZ(21deg) rotateY(90deg);
}

.pentagon:nth-child(7) {
  border: 0;
  transform: translateZ(-35px);
  background-color: transparent;
}

.star_container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: rotateX(-10deg) rotateY(-20deg);

}

.star_side {
  position: absolute;
  height: 100px;
  width: 25px;
}

.star_side:nth-child(1), .star_side:nth-child(9) {
  top: 0;
  left: 75px;
  transform-origin: right bottom;
  transform: translate3d(0, 0, 25px) rotateY(-45deg) rotateX(10deg) rotateZ(-10deg);
}
.star_side:nth-child(2), .star_side:nth-child(10) {
  top: 0;
  left: 100px;
  transform-origin: left bottom;
  transform: translate3d(0, 0, 25px) rotateY(45deg) rotateX(10deg) rotateZ(10deg);

}

.star_side:nth-child(3), .star_side:nth-child(11) {
  top: 75px;
  left: 0;
  height: 25px;
  width: 100px;
  transform-origin: bottom right;
  transform: translate3d(0, 0, 25px) rotateX(45deg) rotateY(-15deg) rotateZ(9deg);
}

.star_side:nth-child(4), .star_side:nth-child(12) {
  top: 75px;
  left: 100px;
  height: 25px;
  width: 100px;
  transform-origin: bottom left;
  transform: translate3d(0, 0, 25px) rotateX(45deg) rotateY(15deg) rotateZ(-9deg);
}

.star_side:nth-child(5), .star_side:nth-child(13) {
  top: 100px;
  left: 0;
  height: 25px;
  width: 100px;
  transform-origin: top right;
  transform: translate3d(0, 0, 25px) rotateX(-45deg) rotateY(-10deg) rotateZ(-15deg);
}

.star_side:nth-child(6), .star_side:nth-child(14) {
  top: 100px;
  left: 100px;
  height: 25px;
  width: 100px;
  transform-origin: top left;
  transform: translate3d(0, 0, 25px) rotateX(-45deg) rotateY(10deg) rotateZ(15deg);
}

.star_side:nth-child(7), .star_side:nth-child(15) {
  top: 100px;
  left: 75px;
  transform-origin: right top;
  transform: translate3d(0, 0, 25px) rotateY(-45deg) rotateX(-10deg) rotateZ(10deg);
}
.star_side:nth-child(8), .star_side:nth-child(16) {
  top: 100px;
  left: 100px;
  transform-origin: left top;
  transform: translate3d(0, 0, 25px) rotateY(45deg) rotateX(-10deg) rotateZ(-10deg);

}
.star_side:nth-child(9) {
  transform: translate3d(0, 0, -24px) rotateY(45deg) rotateX(-10deg) rotateZ(-10deg);
}

.star_side:nth-child(10) {
  transform: translate3d(0, 0, -24px) rotateY(-45deg) rotateX(-10deg) rotateZ(10deg);
}

.star_side:nth-child(11) {
  transform: translate3d(0, 0, -25px) rotateX(-45deg) rotateY(11deg) rotateZ(6deg);

}

.star_side:nth-child(12) {
  transform: translate3d(0, 0, -25px) rotateX(-45deg) rotateY(-12deg) rotateZ(-6deg);
  
}

.star_side:nth-child(13) {
  transform: translate3d(0, 0, -25px) rotateX(45deg) rotateY(6deg) rotateZ(-10deg);
  
}
.star_side:nth-child(14) {
  transform: translate3d(0, 0, -25px) rotateX(45deg) rotateY(-6deg) rotateZ(10deg);

}

.star_side:nth-child(15) {
  transform: translate3d(0, 0, -25px) rotateY(45deg) rotateX(10deg) rotateZ(10deg);

}
.star_side:nth-child(16) {
  transform: translate3d(0, 0, -24px) rotateY(-45deg) rotateX(10deg) rotateZ(-10deg);
  
}